/* Lets take our knowledge of CSS selectors, properties, and inheritance to add some style to the Sweet Eats Bakery website.  

Task 1: Explore the CSS.  Look at all the unique selectors.  Find things that are new to you and learn what they do.  Find properties you may not be familiar with and google them.

Task 2: Update the CSS.  You will notice the CSS comments throughout the file below.  Follow the instructions to complete the Sweet Eats Bakery site.  If you follow the instructions, your work should look like the "bakery-home-page.png"  image file in the images/ folder as a final result:

Task 3: Update the HTML. You will notice that no meta information has been provided. Include all the neccesary meta data for search engines as may be needed and also ensure that the webpage is optimized for mobile devices.

Task 4: Look at CSS animations and see if you could integrate them on the navigation hovers.

Task 5: Pick three navigation items and create their corresponding new pages with the same header and footer as the home page.  Example: you could make a new page for cookies.  Be creative and have fun coming up with your own unique content and styles. 

=======SUBMISSION DETAILS========
Date: Sunday, September 3, 2023
Time: 9:00 a.m prompt
Host your solution on Github Pages and link for the solution to be shared on pumble.

*/




/*======= Create a new universal selector that changes the font color to: #3C373B */


h1 {
  font-family: 'Gaegu', cursive;
  margin: 20px 0;
  /*=======  Update the font size to 60px and center the text */
  font-size: 60px;
}

h2, h3, h4, h5, h6 {
  font-family: 'Gaegu', cursive;
  margin-bottom: 0;
  padding: 0 10px;
  /*=======  Update the font size to 30px */
  font-size: 30px;
}

p{
  font-size: 16px;
  font-family: roboto;
  padding: 10px;
  line-height: 1.4;
}
/*======= Create a selector for ALL p tags in the site to have the following styles:

font-size: 16px;
font-family: roboto;
padding: 10px;
line-height: 1.4;

*/

img {
  border-radius: 10px;
}
/*======= Create a selector for ALL images in the site to have the following styles: 

  border-radius: 10px;

*/

.content-row {
  display: flex;
}

.content-row div {
  margin: 20px;
  /*======= create a margin property.  Set the value to 20px */
}

.container {
  /*======= create a width property. Set the value to 600px */
  margin: 0 auto;
  width: 600px;
}

.container header nav a {
  margin: 0 10px;
  border: 1px solid lightgray;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  background: #F87B99;
   /*======= create a background property. Set the value to #F87B99 */
  
}

.container header nav a:hover {
  background: white;
  color: #F87B99;
/*======= create a background property and set it to white.  Then create a color property and set it's value to pink. */
}
.about {
  margin-top: 20px;
}
/*======= Create a selector for the about section to have the following styles:
  margin-top: 20px;
*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact-section {
  border-top: 1px dashed black;
  padding: 20px 0;
}

.contact-section h2 {
  padding: 0;
  margin: 0 0 10px 0;
}

.contact-section address{
  line-height: 2;
}
  
/*======= Create a selector for the address tag in the contact-section class to have the following styles:
   line-height: 2;
*/

footer {
  width: 100%;
  background: #F87B99;
  border-top: 1px dashed white;
}

footer .footer-content { 
  margin: 0 auto;
  width: 600px; 
  /*======= create a width property. Set the value to 600px */
  
}

footer .footer-content h3 {
  padding: 0;
  margin: 20px 0;
}

footer nav {
  display: flex;
}

footer nav a{
  margin: 10px;
  color: black;
  text-decoration: underline;
}
/*======= Create a selector for the anchor tag in the footer to have the following styles:
  margin: 10px;
  color: black;
  text-decoration: underline;
*/


footer nav a:first-child {
  margin-left: 0;
}

footer .footer-content nav a:hover {

  background-color: white;
  width: 50px;
  height: 50px;
  background:aliceblue;
  animation-name: embed;
  animation-duration: 4s;
  transition: width 4s;
}
    
/*======= Create a hover state for the anchor tag in the footer nav to have the following styles:
  color: white;
*/

footer .footer-content .copyright {
  padding: 20px 0;
  text-align: center;
   /*======= center the text here */
}